#map {
  height: 50vh;
  width: 100%;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    position: fixed;
    width: 100%;
    z-index: 100%;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: nome;
    color: #afff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #afff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}




.header {
  height: 60px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 0px 1px;
  font-size: 10px;
}
